[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
configparser = "*"
boto3 = "*"
requests = "*"
pandas = "*"
sagemaker = "*"
ipykernel = "*"
newspaper3k = "*"
jsonlines = "*"
feedparser = "*"
jq = "*"

[requires]
python_version = "3.9"
